body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(194, 190, 190) ;
}
.container{
    display: flex;
    background-color: #2D25A0; 
    width: 900px;
    padding: 5% 10%;
}
.conmebol h3{
    font-size: 64px;
    color: #FFFFFF;
}
.conmebol .anchor-tag{
    background-color: #E02C6D;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
margin-left: 50px;
}
.container .images img{
    width: 556.01px;
height: 438px;
}
.conmebol{
    margin-right: 10%;
}
.container-2{
    background-color: #f3f1ff;
    width: 50%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.players .player img{
    width: 390px;
   border-radius: 15px;
}
.player{
    border-radius: 15px;

}
.player{
    box-shadow: 10px 10px 10px 10px rgb(233, 224, 224);
     width: 400px;
     height:550px;
     padding: 2%;
     margin: 10px ;
     margin-left: 0;
}
.container-3{
    width: 1300px;
    height: 900px;
    display: flex;
    flex-direction: column;
    
}
.last-section .images-2 img{
    width: 567px;
    height: 427px
}
.las-div h1{
    font-size: 70px;
}
.las-div p{
    font-size: 20px;
}
.last-section{
      display: grid;
    flex-direction: column;
    align-items: center;
}